@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Germania+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  body {
    font-family: sans-serif;
    overflow-x: hidden;
  }
  
  .section {
    height: 100vh;
    display: flex;
    color: 000;
  }
  
  .section-1 { 
    background-color: #F9F1C6; 
  }

  .section-2 {
    background-color: #F9F1C6; 
    position: relative; 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }

  
  /* Conteneur de la jauge */
.progress-container {
    position: fixed; 
    top: 35px; 
    left: 40%; 
    transform: translateX(-50%); 
    width: 250px; 
    height: 10px;
    z-index: 9999; 
}

  
  /* La ligne de la jauge */
  .line {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color:#000;
    transform: translateY(-50%);
  }
  
  /* Le point qui se déplace */
  .step-indicator {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    background-color: #FFE250;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: left 0.3s ease;
    left: 0%; 
  }

  /* Les 3 points fixes sur la jauge */
  .step {
    position: absolute;
    top: 50%;
    width: 8px;
    height: 8px;
    background-color: #B99ED1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
  
  .step-1 { left: 0%; }
  .step-2 { left: 50%; }
  .step-3 { left: 100%; }

.image-container {
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
}


#section3 .image-container {
    position: absolute;
    top: 270%;
    left: 50%;
    width: 350px;
    height: auto;
    margin-bottom: 20px;
}


.rotating-image {
    width: 100%;
    height: 100%;
    transition: transform 0.1s ease-out; 
}

.titleS1 {
    font-family: cinzel;
    color: #101340;
    padding: 0 20px 0 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    position: absolute; 
    top: 13%; 
    transform: translateX(-50%); 
    font-size: 2.4rem;
}

.subtitleS1 {
    font-family: chivo;
    color: #101340;
    padding: 0 20px 0 20px;
    position: absolute; 
    top: 55%;
    font-size: 1rem;
}


.triangle {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    position: absolute; 
    top: 70%; 
    left: 50%; 
    transform: translateX(-50%); 
    }

    .div1S1 { grid-area: 1 / 1 / 2 / 2; }
    .div2S1 { grid-area: 1 / 2 / 2 / 3; }
    .div3S1 { grid-area: 1 / 3 / 2 / 4; }
    .div4S1 { grid-area: 2 / 2 / 3 / 3; }
    .div5S1 { grid-area: 3 / 2 / 4 / 3; }

    /* Image de la section 2 */
    .section-2-image {
        position: absolute;
        top: 30px;
        left: -30px;
        width: 300px; 
        height: 300px;
        object-fit: contain;
        z-index: 10;
    }
  
  .section-2-rotating {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.1s ease-out;
  }
  
  .section-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }

    .div1S2, .titleS2 { 
    font-family: cinzel;
    color: #101340;
     grid-area: 1 / 1 / 2 / 2;
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-template-rows: 1fr;
     grid-column-gap: 16px;
     grid-row-gap: 16px;
     padding: 0 20px 0 20px;
     position: absolute; 
     top: 10%; 
     font-size: 2.3rem;
    }


    .div1S2, .subtitleS2 {
    font-family: chivo;
    color: #101340;
     position: absolute; 
     top: 40%; 
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-template-rows: 1fr;
     grid-column-gap: 16px;
     grid-row-gap: 16px;
     padding: 0 20px 0 20px;
     font-size: 1rem;
    }


    .div2S2 { 
    grid-area: 1 / 2 / 2 / 3; 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: absolute; 
    top: 80%; 
    left: 19%;
    }

    .cards {
    position: absolute; 
    top: 65%; 
    left: 40%;
    }

   .star-yellow {
    position: absolute; 
    top: 220%; 
    left: 20%;
   }

   .star-blue {
    position: absolute; 
    top: 210%; 
    left: 40%;
   }

   .star-purple {
    position: absolute; 
    top: 215%; 
    left: 65%;
   }


   .textS3 {
    font-family: chivo;
    color: #101340;
    padding: 0 20px 0 20px;
    position: absolute; 
    top: 225%; 
    left: 30%;
    }


    /* SECTION 3 */
#section3 {
    display: flex;
    justify-content: center;
    height: 100vh;
    padding-bottom: 80px; 
    background-color: #F9F1C6;
  }
  
  
  #section3 .rotating-image {
    width: 100%;
    height: auto;
    transform: rotate(0deg);
    transition: transform 0.1s ease-out;
  }
  

  #section4 {
    position: relative;
    min-height: 100vh;
    background: linear-gradient(to bottom, #F9F1C6 0%, #292B4E 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  /* Lune */
  .Lune2 {
    position: absolute;
    top: 40px;
    left: 20%;
    width: 130px;
  }
  
  /* Étoile jaune en haut à droite */
  .star-yellow {
    position: absolute;
    top: 80px;
    left: 70%;
    width: 60px;
  }
  
  /* Étoile bleue un peu plus basse à droite */
  .star-blue {
    position: absolute;
    top: 180px;
    left: 60%;
    width: 45px;
  }
  
  /* Texte */
  .contentS4 {
    z-index: 2;
    margin-top: 200px;
    padding: 0 32px;
    font-family: "Chivo", sans-serif;
    font-weight: 300;
  }
  
  .contentS4 p {
    font-size: 20px;
    line-height: 125%;
    letter-spacing: -2%;
    color: #101340;
    margin: 0;
    position: absolute;
    top: 30%;
    left: 10%;
    right: 10%;
  }
  
  /* Triangles en bas au centre */
  .triangleS4 {
    position: absolute;
    bottom: 65px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

.card1-S4{
  position: absolute;
    top: 55%;
    left: 10%;
    right: 10%;
    z-index: 1;
}

.card2-S4{
  position: absolute;
    top: 55%;
    left: 25%;
}

.card3-S4{
  position: absolute;
    top: 50%;
    left: 45%;
}

.card4-S4{
  position: absolute;
    top: 55%;
    left: 60%;
}


/* SECTION 5 */
#section5 {
  min-height: 100vh;
  padding: 60px 32px 120px;
  background: linear-gradient(to bottom, #292B4E, #101340); /* Dégradé ajustable */
  color: #F9F1C6;
  position: relative;
  overflow: hidden;
}

/* Bloc principal de texte */
.contentS5 h2 {
  font-size: 62px;
  font-family: "Germania One", system-ui;
  font-weight: 400;
  margin: 0 0 20px;
  line-height: 1.1;
  text-transform: lowercase;
}

.contentS5 .subtitle {
  font-family: "Chivo", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: -2%;
  line-height: 1.5;
  margin-bottom: 16px;
  color: #F9F1C6;
}

.categories {
  position: absolute;
  top: 410px;
  padding-left: 60px;
}

.categories li {
  margin-bottom: 10px;
  font-size: 30px;
  font-family: "Germania One", system-ui;
  font-weight: 400;
}

/* Couleurs spécifiques */
.violet {
  color: #a58bc7;
}

.yellow {
  color: #f3c24b;
}

/* Cartes déco en bas */

.card1-S5 {
  position: absolute;
  top: 60%;
  right: 73%;
}

.card2-S5 {
  position: absolute;
  top: 57%;
  right: 42%;
}

.card3-S5 {
  position: absolute;
  top: 60%;
  right: 15%;
}

.card4-S5 {
  position: absolute;
  top: 50%;
  left: 92%;
}

.card6-S5 {
  position: absolute;
  top: 73%;
  right: 44%;
}

.card5-S5 {
  position: absolute;
 bottom: 0%;
  right: 60%;
}

.card7-S5 {
  position: absolute;
  top: 80%;
  left: 62%;
}

.card8-S5 {
  position: absolute;
  top: 70%;
  left: 87%;
}

.card9-S5 {
  position: absolute;
  top: 94%;
  left: 50%;
}
