@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Germania+One&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: sans-serif;
    overflow-x: hidden;
  }

  strong {
    font-family: "Chivo", sans-serif;
    font-weight: 700;
  }
  
  .section {
    height: 100vh;
    display: flex;
  }
  
  .section-1 { 
    background-color: #F9F1C6; 
  }

  .section-2 {
    background-color: #F9F1C6; 
    position: relative; 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }

  
  /* Conteneur de la jauge */
.progress-container {
    position: fixed; 
    top: 35px; 
    left: 40%; 
    transform: translateX(-50%); 
    width: 250px; 
    height: 10px;
    z-index: 9999; 
}

  
  /* La ligne de la jauge */
  .line {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color:#000;
    transform: translateY(-50%);
  }
  
  /* Le point qui se déplace */
  .step-indicator {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    background-color: #FFE250;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: left 0.3s ease;
    left: 0%; 
  }

  /* Les 3 points fixes sur la jauge */
  .step {
    position: absolute;
    top: 50%;
    width: 8px;
    height: 8px;
    background-color: #B99ED1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
  
  .step-1 { left: 0%; }
  .step-2 { left: 50%; }
  .step-3 { left: 100%; }

.image-container {
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
}


#section3 .image-container {
    position: absolute;
    top: 270%;
    left: 50%;
    width: 350px;
    height: auto;
    margin-bottom: 20px;
}


.rotating-image {
    width: 100%;
    height: 100%;
    transition: transform 0.1s ease-out; 
}

.titleS1 {
  font-family: "Germania One", sans-serif;
  font-size: 62px;
  font-weight: 400;
    color: #101340;
    padding: 0 24px 0 24px;
    position: absolute; 
    top: 8%; 
    transform: translateX(-50%); 
}

.subtitleS1 {
    font-family: chivo;
    color: #101340;
    padding: 0 20px 0 20px;
    position: absolute; 
    top: 56%;
    font-size: 20PX;
}


.triangle {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    position: absolute; 
    top: 70%; 
    left: 50%; 
    transform: translateX(-50%); 
    }

    .div1S1 { grid-area: 1 / 1 / 2 / 2; }
    .div2S1 { grid-area: 1 / 2 / 2 / 3; }
    .div3S1 { grid-area: 1 / 3 / 2 / 4; }
    .div4S1 { grid-area: 2 / 2 / 3 / 3; }
    .div5S1 { grid-area: 3 / 2 / 4 / 3; }

    /* Image de la section 2 */
    .section-2-image {
        position: absolute;
        top: 30px;
        left: -30px;
        width: 300px; 
        height: 300px;
        object-fit: contain;
        z-index: 10;
    }
  
  .section-2-rotating {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.1s ease-out;
  }
  
  .section-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }

    .div1S2, .titleS2 { 
    font-family: cinzel;
    color: #101340;
     grid-area: 1 / 1 / 2 / 2;
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-template-rows: 1fr;
     grid-column-gap: 16px;
     grid-row-gap: 16px;
     padding: 0 20px 0 20px;
     position: absolute; 
     top: 10%; 
     font-size: 2.3rem;
    }


    .div1S2, .subtitleS2 {
    font-family: chivo;
    color: #101340;
     position: absolute; 
     top: 40%; 
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-template-rows: 1fr;
     grid-column-gap: 16px;
     grid-row-gap: 16px;
     padding: 0 20px 0 20px;
     font-size: 1rem;
    }


    .div2S2 { 
    grid-area: 1 / 2 / 2 / 3; 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: absolute; 
    top: 80%; 
    left: 19%;
    }

    .cards {
    position: absolute; 
    top: 65%; 
    left: 40%;
    }

   .star-yellow {
    position: absolute; 
    top: 220%; 
    left: 20%;
   }

   .star-blue {
    position: absolute; 
    top: 210%; 
    left: 40%;
   }

   .star-purple {
    position: absolute; 
    top: 215%; 
    left: 65%;
   }


   .textS3 {
    font-family: chivo;
    color: #101340;
    padding: 0 20px 0 20px;
    position: absolute; 
    top: 225%; 
    left: 30%;
    }


    /* SECTION 3 */
#section3 {
    display: flex;
    justify-content: center;
    height: 100vh;
    padding-bottom: 80px; 
    background-color: #F9F1C6;
  }
  
  
  #section3 .rotating-image {
    width: 100%;
    height: auto;
    transform: rotate(0deg);
    transition: transform 0.1s ease-out;
  }
  

  #section4 {
    position: relative;
    min-height: 100vh;
    background: linear-gradient(to bottom, #F9F1C6 0%, #292B4E 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  /* Lune */
  .Lune2 {
    position: absolute;
    top: 40px;
    left: 20%;
    width: 130px;
  }
  
  /* Étoile jaune en haut à droite */
  .star-yellow {
    position: absolute;
    top: 80px;
    left: 70%;
    width: 60px;
  }
  
  /* Étoile bleue un peu plus basse à droite */
  .star-blue {
    position: absolute;
    top: 180px;
    left: 60%;
    width: 45px;
  }
  
  /* Texte */
  .contentS4 {
    z-index: 2;
    margin-top: 200px;
    padding: 0 32px;
    font-family: "Chivo", sans-serif;
    font-weight: 300;
  }
  
  .contentS4 p {
    font-size: 20px;
    line-height: 125%;
    letter-spacing: -2%;
    color: #101340;
    margin: 0;
    position: absolute;
    top: 30%;
    left: 10%;
    right: 10%;
  }
  
  /* Triangles en bas au centre */
  .triangleS4 {
    position: absolute;
    bottom: 65px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

.card1-S4{
  position: absolute;
    top: 55%;
    left: 10%;
    right: 10%;
    z-index: 1;
}

.card2-S4{
  position: absolute;
    top: 55%;
    left: 25%;
}

.card3-S4{
  position: absolute;
    top: 50%;
    left: 45%;
}

.card4-S4{
  position: absolute;
    top: 55%;
    left: 60%;
}


/* SECTION 5 */
#section5 {
  min-height: 100vh;
  padding: 60px 32px 120px;
  background: linear-gradient(to bottom, #292B4E, #101340); /* Dégradé ajustable */
  color: #F9F1C6;
  position: relative;
  overflow: hidden;
}

/* Bloc principal de texte */
.contentS5 h2 {
  font-size: 62px;
  font-family: "Germania One", system-ui;
  font-weight: 400;
  margin: 0 0 20px;
  line-height: 1.1;
  text-transform: lowercase;
}

.contentS5 .subtitle {
  font-family: "Chivo", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: -2%;
  line-height: 1.5;
  margin-bottom: 16px;
  color: #F9F1C6;
}

.categories {
  position: absolute;
  top: 410px;
  padding-left: 60px;
}

.categories li {
  margin-bottom: 10px;
  font-size: 30px;
  font-family: "Germania One", system-ui;
  font-weight: 400;
}

/* Couleurs spécifiques */
.violet {
  color: #a58bc7;
}

.yellow {
  color: #f3c24b;
}

/* Cartes déco en bas */

.card1-S5 {
  position: absolute;
  top: 60%;
  right: 73%;
}

.card2-S5 {
  position: absolute;
  top: 57%;
  right: 42%;
}

.card3-S5 {
  position: absolute;
  top: 60%;
  right: 15%;
}

.card4-S5 {
  position: absolute;
  top: 50%;
  left: 92%;
}

.card6-S5 {
  position: absolute;
  top: 73%;
  right: 44%;
}

.card5-S5 {
  position: absolute;
 bottom: 0%;
  right: 60%;
}

.card7-S5 {
  position: absolute;
  top: 80%;
  left: 62%;
}

.card8-S5 {
  position: absolute;
  top: 70%;
  left: 87%;
}

.card9-S5 {
  position: absolute;
  top: 94%;
  left: 50%;
}


/* SECTION 6 */
#section6 {
  position: relative;               /* Nécessaire pour le positionnement interne */
  min-height: 100vh;                /* Hauteur plein écran */
  background: linear-gradient(to bottom, #0f103f, #0a0c2d);
  color: white;
  padding: 30px 24px 10px;         /* Espace intérieur, ajustable */
  text-align: left;
  overflow: visible !important;     /* Important : autorise les débordements (zoom) */
  display: flex;
  flex-direction: column;
  justify-content: space-between;  /* Texte en haut, carousel en bas */
}

/* TITRE */
.textS6 h2 {
  font-size: 62px;
  font-family: "Germania One", system-ui;
  font-weight: 400;
  margin-bottom: 16px;
  line-height: 1.1;
}
.textS6 .yellow {
  color: #F9F1C6;
}
.textS6 .violet {
  color: B99ED1;
}
.textS6 p {
  color: #F9F1C6;
  font-family: "Chivo", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: -2%;
}


/* CONTENEUR DU CAROUSEL */
.carousel-container {
  overflow-x: auto;
  overflow-y: visible;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  padding: 50px 0;
}

/* LISTE DES CARTES */
.carousel {
  display: flex;
  gap: 16px;
  padding: 0 24px;
}

/* STYLE DES CARTES */
.carousel img {
  width: 90px;
  transition: transform 0.4s ease;
  flex-shrink: 0;
  scroll-snap-align: center;
  border-radius: 10px;
  transition: transform 0.3s ease;
  cursor: pointer;
  transform: scale(1) translateY(30px);  /* base courbée */
  z-index: 1;
}

/* Carte au centre */
.carousel img.active {
  transform: scale(1.25) translateY(-40px);  /* mise en avant */
  z-index: 10;
}

/* TEXTE EN BAS */
.choose {
  color: #F9F1C6;
  font-size: 20px;
  font-family: "Chivo", sans-serif;
  font-weight: 300;
  line-height: 125%;
  letter-spacing: -2%;
  text-align: center;
  margin-top: 5px;
  padding-bottom: 25px;
}

/* Carte qui remonte et s’agrandit */
.card-expanded {
  position: relative;
  left: 28%;
  top: -880px;
  width: 190px;
  z-index: 10;
  transition: all 0.6s ease;
  pointer-events: none;
  animation: fadeIn 0.5s ease forwards;
}


/* Masquer le reste */
.section6-hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease;
}

.card-description-container {
  position: absolute;
  bottom: 45%;
  left: 5%;
  text-align: center;
  margin: 20px 24px;
  animation: fadeIn 0.5s ease forwards;
}

.card-title {
  font-family: "Germania One", sans-serif;
  font-size: 62px;
  font-weight: 400;
  color: #a58bc7;
  margin-bottom: 8px;
}

.card-description {
  font-family: "Chivo", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: -2%;
  color: #F9F1C6;
}

/* animation d'apparition */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to   { opacity: 1; transform: translateY(0); }
}

#section7 {
  min-height: 100vh;
  background: linear-gradient(to bottom, #0a0c2d 65%, #F9F1C6 100%);
  color: white;
  position: relative;
  padding: 30px 24px;
}

/* Éléments décoratifs */
.lune7 {
  position: absolute;
  top: 5%;
  left: 10%;
  width: 160px;
}

.star-purple7 {
  position: absolute;
  top: 40px;
  right: 30px;
  width: 50px;
}

.star-yellow7 {
  position: absolute;
  bottom: 75px;
  left: 40px;
  width: 60px;
}

.star-light7 {
  position: absolute;
  top: 180px;
  right:0px;
  width: 60px;
}

/* Contenu texte */
.contentS7 h2 {
  font-family: "Germania One", sans-serif;
  font-size: 62px;
  color: #F9F1C6;
  line-height: 1.2;
  margin-bottom: 24px;
  text-align: left;
  position: absolute;
  top: 25%;
  left: 10%;
}

.contentS7 p {
  color: #F9F1C6;
  font-family: "Chivo", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: -2%;
  text-align: left;
  position: absolute;
  top: 60%;
  left: 10%;
  padding-right: 24px;
}


/* SECTION 8 */
#section8 {
  background-color: #f9f1c6;
  min-height: 100vh;
  padding: 60px 24px;
  position: relative;
  gap: 60px;
  font-size: 20px;
  color: #101340;
  line-height: 1.4;
  font-family: "Chivo", sans-serif;
  font-weight: 300;
  text-align: left;
}

/* Cercles gris */
.circle1-8 {
  position: absolute;
  bottom: 75%;
  left: 10%;
}

.circle2-8 {
  position: absolute;
  top: 45%;
  left: 10%;
}


.method1-8 p {
  position: absolute;
  top: 30%;
  left: 10%;
}

.method2-8 p {
  position: absolute;
  top: 67%;
  left: 10%;
  padding-right: 24px;
}

/* Étoiles positionnées */
.star-top-left {
  position: absolute;
  top: -2%;
  left: 24px;
  width: 55px;
}

.star-top-right {
  position: absolute;
  top: 8%;
  right: -4%;
  width: 80px;
}

.star-bottom-left {
  position: absolute;
  bottom: -3%;
  left: -5%;
  width: 90px;
}


#section9 {
  background-color: #f9f1c6;
  min-height: 100vh;
  padding: 60px 24px;
  position: relative;
  gap: 60px;
  font-size: 20px;
  color: #101340;
  line-height: 1.4;
  font-family: "Chivo", sans-serif;
  font-weight: 300;
  text-align: left;
}

/* Cercles gris */
.circle1-9 {
  position: absolute;
  bottom: 75%;
  left: 10%;
}

.circle2-9 {
  position: absolute;
  top: 45%;
  left: 10%;
}

/* Texte */
.p {
  font-size: 14px;
  color: #101340;
  line-height: 1.4;
  margin: 5px;
  font-family: "Chivo", sans-serif;
  font-weight: 300;
  text-align: left;
}

.method3-9 p {
  position: absolute;
  top: 30%;
  left: 10%;
}

.method4-9 p {
  position: absolute;
  top: 67%;
  left: 10%;
  padding-right: 24px;
}

.star-top-right {
  position: absolute;
  top: 8%;
  right: -4%;
  width: 80px;
}

.star-bottom-left {
  position: absolute;
  bottom: -3%;
  left: -5%;
  width: 90px;
}


#section10 {
  background-color: #f9f1c6;
  min-height: 100vh;
  padding: 60px 24px;
  position: relative;
}

/* Lune */
.lune10 {
  position: absolute;
  top: 40px;
  right: 30px;
  width: 160px;
}

/* Étoiles */
.star-top-left-10 {
  position: absolute;
  top: 50px;
  left: 30px;
  width: 60px;
}

.star-middle-right-10 {
  position: absolute;
  top: 51%;
  right: 15%;
  width: 100px;
}

.star-bottom-left-10 {
  position: absolute;
  bottom: 65px;
  left: 65px;
  width: 50px;
}

/* Contenu */
.contentS10 h2 {
  font-family: "Germania One", sans-serif;
  font-size: 62px;
  line-height: 1.1;
  color: #191938;
  margin-bottom: 24px;
  text-align: left;
  position: absolute;
  top: 25%;
  left: 10%;
}

.contentS10 p {
  font-size: 20px;
  color: #191938;
  line-height: 1.5;
  text-align: left;
  font-family: "Chivo", sans-serif;
  font-weight: 300;
  position: absolute;
  top: 65%;
  left: 10%;
  padding-right: 24px;
}
